.uiux{color:#43c88c}
.arts{color:#43c0c8}
.video{color:#c8bb43}
.others{color:#e95c5c}
.responsive{transition:.5s cubic-bezier(0,.74,1,1.28)}
@media screen and (max-width:768px){
.topnav.responsive{box-shadow:24px 24px 40px 0 rgba(0,0,0,.25)}
.topnav.responsive a.icon{position:absolute;right:0;top:0}
.topnav.responsive a{float:none;display:block;text-align:left}
}
.item_sectionA{margin:96px auto 0;border-radius:24px;background:#222;box-shadow:24px 24px 40px 0 rgba(0,0,0,.25)}
.item_sectionA .esq{padding:40px 0 40px 40px}
.item_sectionA .esq .text_space{padding-top:24px;justify-content:flex-end}
.item_sectionA .esq .text_t{font-weight:400}
.item_sectionA .esq .text_t b{font-weight:700}
.item_sectionA .dir{padding:40px 40px 40px 0;align-items:center}
.item_sectionA .dir img.foto{-o-object-fit:contain;object-fit:contain}
@media screen and (max-width:768px){
.item_sectionA .dir img.foto{width:100%}
}
@media screen and (max-width:1023px){
.item_sectionA{border-radius:0}
}
.item_sectionB{margin:0 auto;padding-top:96px}
.item_sectionB .esq{padding:40px 0 40px 40px}
.item_sectionB .esq span{text-align:justify;font-size:40px;line-height:110%;text-transform:uppercase;color:#333;background:linear-gradient(180deg,rgba(51,51,51,0) 0,#333 50%,rgba(51,51,51,0) 100%);background-clip:text;-webkit-background-clip:text;-webkit-text-fill-color:rgba(0,0,0,0)}
.item_sectionB .esq span b{color:#d4d4d4!important;background:#d4d4d4!important;-webkit-background-clip:text!important;background-clip:text!important;-webkit-text-fill-color:#d4d4d4!important}
.item_sectionB .esq span b b{color:#43c88c!important;background:#43c88c!important;-webkit-background-clip:text!important;background-clip:text!important;-webkit-text-fill-color:#43c88c!important}
.item_sectionB .dir{padding:40px 40px 40px 0}
.tags_redes{display:flex;justify-content:center;align-items:center;align-content:center;gap:8px;align-self:stretch;flex-wrap:wrap}
.tags_redes a{display:flex;padding:8px 16px;align-items:center;gap:8px;border-radius:80px;border:1px solid #d4d4d4;color:#d4d4d4;font-size:12px;font-weight:400;line-height:160%}
.tags_redes a img{width:16px;height:16px}
.tags_redes a:focus,.tags_redes a:focus-visible,.tags_redes a:hover{color:#222;border:1px solid #43c88c;border-radius:80px;background:#43c88c;box-shadow:0 0 20px 0 rgba(67,200,140,.5);outline-offset:0;outline:-webkit-focus-ring-color auto 0;transition:.5s cubic-bezier(0,.74,1,1.28)}
.tags_redes a:focus svg *,.tags_redes a:focus-visible svg *,.tags_redes a:hover svg *{fill:#222}
.hardSkills,.meusServicos{padding:40px 0;flex-direction:column;gap:40px;height:auto!important}
.hardSkills span,.meusServicos span{align-self:center}
.hardSkills span h3,.meusServicos span h3{color:#d4d4d4;text-align:center;font-family:Barlow,sans-serif;font-display:swap;font-size:48px;font-weight:900;line-height:110%;text-transform:uppercase}
.hardSkills span h3 b,.meusServicos span h3 b{color:#43c88c}
.hardSkills{padding-top:96px}
.card_serv{width:100%;display:flex;flex-direction:row;gap:24px}
.card_serv .tab{display:flex;height:-moz-fit-content;height:fit-content;padding:0 0 0 40px;flex-direction:column;align-items:flex-start;flex:1 0 0}
.card_serv .tab button{display:block;background-color:inherit;width:100%;border-top:none;border-right:none;border-bottom:none;outline:0;text-align:left;cursor:pointer;font-family:Arvo,serif;font-display:swap;padding:8px 16px;align-items:flex-start;gap:16px;align-self:stretch;border-left:4px solid #333;flex:1 0 0;color:#d4d4d4;font-size:16px;font-weight:400;line-height:160%}
.card_serv .b_uiux.active,.card_serv .b_uiux:focus,.card_serv .b_uiux:focus-visible,.card_serv .b_uiux:hover{border-left:4px solid #43c88c;background:#333;outline-offset:0;outline:-webkit-focus-ring-color auto 0;transition:.5s cubic-bezier(0,.74,1,1.28)}
.card_serv .b_arts.active,.card_serv .b_arts:focus,.card_serv .b_arts:focus-visible,.card_serv .b_arts:hover{border-left:4px solid #43c0c8;background:#333;outline-offset:0;outline:-webkit-focus-ring-color auto 0;transition:.5s cubic-bezier(0,.74,1,1.28)}
.card_serv .b_video.active,.card_serv .b_video:focus,.card_serv .b_video:focus-visible,.card_serv .b_video:hover{border-left:4px solid #c8bb43;background:#333;outline-offset:0;outline:-webkit-focus-ring-color auto 0;transition:.5s cubic-bezier(0,.74,1,1.28)}
.card_serv .b_others.active,.card_serv .b_others:focus,.card_serv .b_others:focus-visible,.card_serv .b_others:hover{border-left:4px solid #e95c5c;background:#333;outline-offset:0;outline:-webkit-focus-ring-color auto 0;transition:.5s cubic-bezier(0,.74,1,1.28)}
.card_serv .tabcontent{display:none;padding:0 40px 0 0;flex-direction:column;justify-content:center;align-items:center;gap:16px;flex:1 0 0;-moz-text-align-last:center;text-align-last:center}
.card_serv .tabcontent .img_info{width:460px;height:220px;margin-bottom:16px;border-radius:24px 0;-o-object-fit:cover;object-fit:cover}
@media screen and (max-width:1023px){
.card_serv .tabcontent .img_info{width:100%}
}
.card_serv .tabcontent .txt{display:flex;padding:16px 8px 24px 16px;flex-direction:column;align-items:flex-start;gap:16px;background:#222;align-self:stretch;-moz-text-align-last:left;text-align-last:left;color:#d4d4d4;font-size:16px;font-weight:400;line-height:160%}
.card_serv .tabcontent .txt a{font-weight:700;text-decoration:underline;text-underline-offset:6px}
.card_serv .tabcontent .uiux_bor{border-left:4px solid #43c88c}
.card_serv .tabcontent .uiux_bor a{color:#43c88c}
.card_serv .tabcontent .uiux_bor b{color:#43c88c}
.card_serv .tabcontent .arts_bor{border-left:4px solid #43c0c8}
.card_serv .tabcontent .arts_bor a{color:#43c0c8}
.card_serv .tabcontent .arts_bor b{color:#43c0c8}
.card_serv .tabcontent .video_bor{border-left:4px solid #c8bb43}
.card_serv .tabcontent .video_bor a{color:#c8bb43}
.card_serv .tabcontent .video_bor b{color:#c8bb43}
.card_serv .tabcontent .other_bor{border-left:4px solid #e95c5c}
.card_serv .tabcontent .other_bor a{color:#e95c5c}
.card_serv .tabcontent .other_bor b{color:#e95c5c}
@media screen and (max-width:1023px){
.card_serv{flex-direction:column;gap:0}
.card_serv .tab,.card_serv .tabcontent{padding:40px 40px}
}
@media screen and (max-width:768px){
.card_serv .tab,.card_serv .tabcontent{padding:24px 24px}
}
.area_hards{display:flex;padding:40px 40px;justify-content:center;align-items:flex-start;align-content:flex-start;gap:16px;align-self:stretch;flex-wrap:wrap}
.area_hards .tag{display:flex;padding:16px;align-items:center;gap:8px;border-radius:80px;box-shadow:8px 8px 24px 0 rgba(0,0,0,.337)}
.area_hards .tag:focus,.area_hards .tag:focus-visible,.area_hards .tag:hover{background-color:#333;outline-offset:0;outline:-webkit-focus-ring-color auto 0;transition:.5s cubic-bezier(0,.74,1,1.28)}
.area_hards .tag .text_n{color:#d4d4d4}
@media screen and (max-width:768px){
.area_hards .tag{flex-direction:column;border-radius:16px}
}
.area_hards .uiux_tag{border:1px solid #43c88c;color:#43c88c}
.area_hards .art_tag{border:1px solid #43c0c8;color:#43c0c8}
.area_hards .video_tag{border:1px solid #c8bb43;color:#c8bb43}
.area_hards .other_tag{border:1px solid #e95c5c;color:#e95c5c}
@media screen and (max-width:1023px){
.area_hards{padding:24px 24px!important}
}
.legend_hards{display:flex;padding:0 40px;justify-content:center;align-items:stretch;align-self:stretch}
@media screen and (max-width:1023px){
.legend_hards{flex-direction:column}
}
@media screen and (max-width:1023px){
.legend_hards{padding:24px 24px!important;flex-direction:column}
}
.card{display:flex;padding:16px;justify-content:center;align-items:center;gap:8px;flex:1 0 0;color:#222;font-family:Barlow,sans-serif;font-display:swap;font-size:14px;font-weight:500;line-height:160%}
.c_uiux{background:#43c88c}
.c_arts{background:#43c0c8}
.c_video{background:#c8bb43}
.c_others{background:#e95c5c}
.area_contact{display:flex;align-items:flex-start;gap:24px;align-self:stretch}
.area_contact .esq{padding:0 0 40px 40px;align-items:center}
.area_contact .esq img.foto{width:320px;height:320px;-o-object-fit:contain;object-fit:contain}
@media screen and (max-width:768px){
.area_contact .esq img.foto{width:100%}
}
.area_contact .dir{padding:0 40px 40px 0}
.area_contact .dir .text_n2{margin-top:64px}
.area_contact .dir .text_n2 b{color:#43c88c}
.area_contact .dir .links{display:flex;justify-content:center;align-items:stretch;gap:16px;align-self:stretch}
@media screen and (max-width:768px){
.area_contact .dir .links{flex-direction:column}
}
.area_contact .dir .links a{display:flex;padding:8px 16px;justify-content:center;align-items:center;gap:8px;flex:1 0 0;background-color:#43c88c;color:#222;font-family:Barlow,sans-serif;font-display:swap;font-size:16px;font-weight:500;line-height:160%;text-transform:uppercase}
.area_contact .dir .links a:focus,.area_contact .dir .links a:focus-visible,.area_contact .dir .links a:hover{background-color:#d4d4d4;box-shadow:0 0 20px 0 rgba(212,212,212,.5);outline-offset:0;outline:-webkit-focus-ring-color auto 0;transition:.5s cubic-bezier(0,.74,1,1.28)}
@media screen and (max-width:1023px){
.area_contact{flex-direction:column}
}
@media screen and (max-width:1023px){
.area_contact .dir,.area_contact .esq{padding:24px 24px}
}