@charset "utf-8";
/* CSS Document */

$layout-breakpoint-small: 768px;
$layout-breakpoint-medium: 1023px;
$primaryColor: #43C88C;
$colorUIUX: $primaryColor;
$colorART: #43C0C8;
$colorVIDEO: #C8BB43;
$colorOTHERS: #e95c5c;

$preto00: #1B1B1B;
$preto01: #222222;
$preto02: #444444;
$preto03: #333333;

$branco: #D4D4D4;
$branco01: #FFFFFF;

body {
    background-color: $preto00;
    background-image: url(./img/bg.webp);
    background-position: center;
    background-size: 50px;
    background-repeat: repeat;

    font-family: 'Arvo', serif;
    font-display: swap;

    scroll-behavior: smooth !important;
}

a:focus,
a:focus-visible {
    background-color: $preto03;
    padding: 4px;
    outline-offset: 0;
    outline: -webkit-focus-ring-color auto 0;
}


.body_area {
    max-width: 1024px;
    margin: 0 auto;
    align-items: center;
}

.topnav {
    background-color: $primaryColor;
    overflow: hidden;

    position: fixed;
    width: 100%;
    top: 0;

    a {
        height: 32px;

        float: left;
        display: block;
        padding: 16px 16px 16px 24px;

        color: $preto01;
        text-align: center;
        font-size: 16px;
        font-family: 'Barlow', sans-serif;
        font-display: swap;
        font-weight: 500;
        line-height: 160%;
        text-transform: uppercase;

        &:hover,
        &:focus,
        &:focus-visible {
            background-color: $branco;
            color: black;
            outline-offset: 0;
            outline: -webkit-focus-ring-color auto 0;

            -webkit-transition: 0.5s cubic-bezier(0, 0.74, 1, 1.28);
            -moz-transition: 0.5s cubic-bezier(0, 0.74, 1, 1.28);
            -o-transition: 0.5s cubic-bezier(0, 0.74, 1, 1.28);
            transition: 0.5s cubic-bezier(0, 0.74, 1, 1.28);
        }

        @media (max-width: $layout-breakpoint-small) {
            &:not(:first-child) {
                display: none;
            }

            &.icon {
                float: right;
                display: block;
            }
        }

    }

    .logo {
        display: flex;
        padding: 16px 16px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-self: stretch;
    }
}

.topnav .icon {
    display: none;
}

.section {
    display: flex;
    width: 1024px;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;

    .esq,
    .dir {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;
        flex: 1 0 0;
        align-self: stretch;

        .text_t {
            align-self: stretch;

            color: $branco;
            font-family: 'Barlow', sans-serif;
            font-display: swap;
            font-size: 48px;
            font-weight: 900;
            line-height: 110%;
            text-transform: uppercase;

            b {
                color: $primaryColor;
            }
        }

        .text_n {
            align-self: stretch;

            color: $branco;
            font-size: 16px;
            font-weight: 400;
            line-height: 160%;
            /* 25.6px */

            b {
                color: $primaryColor;
                font-weight: 700;
                line-height: 160%;
            }
        }

        .text_space {
            display: flex;
            padding: 40px 0px;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;
            align-self: stretch;

            a {
                display: flex;
                height: 42px;
                padding: 8px 24px;
                align-items: center;
                gap: 8px;

                background: $primaryColor;

                color: $preto01;

                font-family: 'Barlow', sans-serif;
                font-display: swap;
                font-size: 16px;
                font-weight: 500;
                line-height: 160%;
                /* 25.6px */
                text-transform: uppercase;

                &:hover,
                &:focus,
                &:focus-visible {
                    background-color: $branco;
                    box-shadow: 0px 0px 20px 0px rgba(212, 212, 212, 0.50);
                    outline-offset: 0;
                    outline: -webkit-focus-ring-color auto 0;

                    -webkit-transition: 0.5s cubic-bezier(0, 0.74, 1, 1.28);
                    -moz-transition: 0.5s cubic-bezier(0, 0.74, 1, 1.28);
                    -o-transition: 0.5s cubic-bezier(0, 0.74, 1, 1.28);
                    transition: 0.5s cubic-bezier(0, 0.74, 1, 1.28);
                }
            }

        }

        @media screen and (max-width: $layout-breakpoint-medium) {
            padding: 24px 24px !important;
        }

    }
}

.respons {

    @media screen and (max-width: $layout-breakpoint-medium) {
        width: 100%;
        flex-direction: column;
        gap: 0;

        height: auto;

        .dir,
        .esq {
            padding: 40px 40px;

            .foto {
                align-self: center;
            }
        }
    }

    @media screen and (max-width: $layout-breakpoint-small) {

        .dir,
        .esq {
            padding: 40px 24px;

            .text_t {
                font-size: 40px !important;
            }

        }

        span h3 {
            font-size: 40px !important;
        }
    }
}


footer {
    margin-top: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    background: $preto00;

    .area_footer {
        display: flex;
        max-width: 1024px;
        padding: 24px 40px;
        justify-content: center;
        align-items: center;
        gap: 24px;

        @media screen and (max-width: $layout-breakpoint-medium) {
            flex-direction: column;
        }
    }

    span {
        color: $branco;

        font-size: 16px;
        font-weight: 700;
        line-height: 160%;
        /* 25.6px */
    }


}